In [1]:
#Data Manipulation
import numpy as np 
import pandas as pd 

#Data Visulation Tools
import seaborn as sns
import matplotlib as plt

#Importing the data into the jupiter notebook and revealing we have 800 rows and 12 columns in this dataset
pokedex = pd.read_csv('pokemon csv.csv')
pokedex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    object
 13  Region      800 non-null    object
dtypes: int64(9), object(5)
memory usage: 87.6+ KB

In [56]:
#THIS SECTION WILL BE TAKING INTO ACCOUNT THE ENTIRE ROSTER
pokedex.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Region
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,NON-LEGENDARY,Kanto
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,NON-LEGENDARY,Kanto
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,NON-LEGENDARY,Kanto
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,NON-LEGENDARY,Kanto
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,NON-LEGENDARY,Kanto

In [88]:
#quick descrptive statistics of the data set
pokedex.describe().round(2)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.00,800.00,800.00,800.00,800.00,800.00,800.00,800.00,800.00
mean,362.81,435.10,69.26,79.00,73.84,72.82,71.90,68.28,3.32
std,208.34,119.96,25.53,32.46,31.18,32.72,27.83,29.06,1.66
min,1.00,180.00,1.00,5.00,5.00,10.00,20.00,5.00,1.00
25%,184.75,330.00,50.00,55.00,50.00,49.75,50.00,45.00,2.00
50%,364.50,450.00,65.00,75.00,70.00,65.00,70.00,65.00,3.00
75%,539.25,515.00,80.00,100.00,90.00,95.00,90.00,90.00,5.00
max,721.00,780.00,255.00,190.00,230.00,194.00,230.00,180.00,6.00

In [69]:
#What are the top 5 strongest pokemons based on largest total
# pokedex.loc[pokedex['Total'].max(),'Type 1']
pokedex.sort_values(['Total'], ascending=False).head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Region
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,LEGENDARY,Hoenn
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,LEGENDARY,Kanto
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,LEGENDARY,Kanto
422,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,LEGENDARY,Hoenn
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,LEGENDARY,Hoenn

In [5]:
#How many pokemon entries do we have in our data set?
pokedex['#'].nunique()
#We have a total of 721 different types of unique pokmeon

721

In [13]:
#How many pokemon beleong to each generation
pokedex.groupby('Generation').nunique()['#']

Generation
1    151
2    100
3    135
4    107
5    156
6     72
Name: #, dtype: int64

In [6]:
#What is the percentage of each generation to the entire rost
((pokedex.groupby('Generation').nunique()['#']/pokedex['#'].nunique()) * 100).round(2)

Generation
1    20.94
2    13.87
3    18.72
4    14.84
5    21.64
6     9.99
Name: #, dtype: float64

In [16]:
#What Region Belongs to what Region
#just used max to get the actual value of the cell vs a number count
pokedex.groupby(['Generation'])['Region'].max()

Generation
1     Kanto
2     Johto
3     Hoenn
4    Sinnoh
5     Unova
6     Kalos
Name: Region, dtype: object

In [31]:
# What are the strongest pokemon for each region
pokedex.sort_values(by='Total', ascending=False).groupby(['Region']).head(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Region
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,LEGENDARY,Hoenn
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,LEGENDARY,Kanto
552,493,Arceus,Normal,NaN,720,120,120,120,120,120,120,4,LEGENDARY,Sinnoh
712,646,KyuremWhite Kyurem,Dragon,Ice,700,125,120,90,170,100,95,5,LEGENDARY,Unova
268,248,TyranitarMega Tyranitar,Rock,Dark,700,100,164,150,95,120,71,2,NON-LEGENDARY,Johto
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,LEGENDARY,Kalos

In [24]:
#How many pokemons are considered legendary and Non-Legendary
pokedex.groupby(['Legendary'])['#'].nunique().sort_values(ascending = False)

Legendary
NON-LEGENDARY    675
LEGENDARY         46
Name: #, dtype: int64

In [25]:
#What is the percentage of legendary and non legendary
((pokedex.groupby(['Legendary'])['#'].nunique()/pokedex['#'].nunique()) * 100).round(2).sort_values(ascending = False)

Legendary
NON-LEGENDARY    93.62
LEGENDARY         6.38
Name: #, dtype: float64

In [28]:
#How many legendary pokemons are in each region
pokedex[pokedex['Legendary'] == 'LEGENDARY'].groupby(['Generation','Region'])['#'].nunique()

Generation  Region
1           Kanto      4
2           Johto      5
3           Hoenn     10
4           Sinnoh    11
5           Unova     10
6           Kalos      6
Name: #, dtype: int64

In [35]:
#What is the percentage of Legendary pokemon compared to the roster of their respective region
(((pokedex[pokedex['Legendary'] == 'LEGENDARY'].groupby(['Generation','Region'])['#'].nunique())/(pokedex.groupby(['Generation','Region'])['#'].nunique())) * 100).round(2)

Generation  Region
1           Kanto      2.65
2           Johto      5.00
3           Hoenn      7.41
4           Sinnoh    10.28
5           Unova      6.41
6           Kalos      8.33
Name: #, dtype: float64

In [30]:
#What are the strongest legendary pokemon for each region
pokedex[pokedex['Legendary'] == 'LEGENDARY'].sort_values(by='Total', ascending=False).groupby(['Region']).head(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Region
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,LEGENDARY,Kanto
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,LEGENDARY,Hoenn
552,493,Arceus,Normal,NaN,720,120,120,120,120,120,120,4,LEGENDARY,Sinnoh
711,646,KyuremBlack Kyurem,Dragon,Ice,700,125,170,100,120,90,95,5,LEGENDARY,Unova
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,LEGENDARY,Kalos
270,250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,LEGENDARY,Johto

In [29]:
#How many non legendary pokemon are in each region
pokedex[pokedex['Legendary'] =='NON-LEGENDARY'].groupby(['Generation','Region'])['#'].nunique()

Generation  Region
1           Kanto     147
2           Johto      95
3           Hoenn     125
4           Sinnoh     96
5           Unova     146
6           Kalos      66
Name: #, dtype: int64

In [36]:
#What is the percentage of non legeneary pokemons compared to the roster for their respective region
(((pokedex[pokedex['Legendary'] == 'NON-LEGENDARY'].groupby(['Generation','Region'])['#'].nunique())/(pokedex.groupby(['Generation','Region'])['#'].nunique())) * 100).round(2)

Generation  Region
1           Kanto     97.35
2           Johto     95.00
3           Hoenn     92.59
4           Sinnoh    89.72
5           Unova     93.59
6           Kalos     91.67
Name: #, dtype: float64

In [42]:
#What are the strongest non legendary pokemon for each generation
pokedex[(pokedex['Legendary'] == 'NON-LEGENDARY')].sort_values(by='Total', ascending=False).groupby(['Region']).head(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Region
413,376,MetagrossMega Metagross,Steel,Psychic,700,80,145,150,105,110,110,3,NON-LEGENDARY,Hoenn
494,445,GarchompMega Garchomp,Dragon,Ground,700,108,170,115,120,95,92,4,NON-LEGENDARY,Sinnoh
268,248,TyranitarMega Tyranitar,Rock,Dark,700,100,164,150,95,120,71,2,NON-LEGENDARY,Johto
141,130,GyaradosMega Gyarados,Water,Dark,640,95,155,109,70,130,81,1,NON-LEGENDARY,Kanto
716,648,MeloettaPirouette Forme,Normal,Fighting,600,100,128,90,77,77,128,5,NON-LEGENDARY,Unova
776,706,Goodra,Dragon,NaN,600,90,100,70,110,150,80,6,NON-LEGENDARY,Kalos

In [7]:
#How many 'types' of pokemon are there
pokedex['Type 1'].nunique()

18

In [8]:
#how many pokemons belong to each category
pokedex.groupby(['Type 1']).nunique()['#'].sort_values(ascending = False)

Type 1
Water       105
Normal       93
Grass        66
Bug          63
Psychic      47
Fire         47
Rock         41
Electric     36
Ground       30
Poison       28
Dark         28
Fighting     25
Dragon       24
Ice          23
Ghost        23
Steel        22
Fairy        17
Flying        3
Name: #, dtype: int64

In [9]:
#What is the percentage of each pokemon type compared to the entire roster
((pokedex.groupby(['Type 1']).nunique()['#']/pokedex['#'].nunique()) * 100).round(2).sort_values(ascending = False)

Type 1
Water       14.56
Normal      12.90
Grass        9.15
Bug          8.74
Psychic      6.52
Fire         6.52
Rock         5.69
Electric     4.99
Ground       4.16
Poison       3.88
Dark         3.88
Fighting     3.47
Dragon       3.33
Ice          3.19
Ghost        3.19
Steel        3.05
Fairy        2.36
Flying       0.42
Name: #, dtype: float64

In [10]:
#What is the strongest total for each type of pokemon sorted from strongest to weakest
pokedex.groupby(['Type 1'])['Total'].max().sort_values(ascending = False)

Type 1
Psychic     780
Dragon      780
Water       770
Ground      770
Normal      720
Rock        700
Steel       700
Fire        680
Dark        680
Fairy       680
Ghost       680
Grass       630
Fighting    625
Electric    610
Bug         600
Flying      580
Ice         580
Poison      535
Name: Total, dtype: int64

In [11]:
#how many pokemon contain a secondary type
pokedex['Type 2'].count()

414

In [12]:
#What is the percentage of pokemons containing a secondary type out of the entire roster rounded to the second decimal
((pokedex['Type 2'].count()/pokedex['#'].nunique()) * 100).round(2)

57.42

In [13]:
#What is the most common to least common second type attribute?
pokedex.groupby(['Type 2']).count()['#'].sort_values(ascending = False)

Type 2
Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ghost       14
Ice         14
Rock        14
Fire        12
Electric     6
Normal       4
Bug          3
Name: #, dtype: int64