In [2]:
#Data Manipulation
import numpy as np 
import pandas as pd 

#Data Visulation Tools
import seaborn as sns
import matplotlib as plt

#Importing the data into the jupiter notebook and revealing we have 800 rows and 12 columns in this dataset
pokedex = pd.read_csv('pokemon csv.csv')
pokedex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [4]:
#THIS SECTION WILL BE TAKING INTO ACCOUNT THE ENTIRE ROSTER
pokedex.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [81]:
#What are the top 5 strongest pokemons based on largest total
# pokedex.loc[pokedex['Total'].max(),'Type 1']
pokedex.sort_values(['Total'], ascending=False).head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
422,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True

In [9]:
#How many pokemon entries do we have in our data set?
pokedex['#'].nunique()
#We have a total of 721 different types of unique pokmeon

721

In [48]:
#How many 'types' of pokemon are there
pokedex['Type 1'].nunique()

18

In [91]:
#how many pokemons belong to each category
pokedex.groupby(['Type 1']).nunique()['Name'].sort_values(ascending = False)

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Dragon       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Name, dtype: int64

In [85]:
#What is the strongest total for each type of pokemon sorted from strongest to weakest
pokedex.groupby(['Type 1'])['Total'].max().sort_values(ascending = False)

Type 1
Psychic     780
Dragon      780
Water       770
Ground      770
Normal      720
Rock        700
Steel       700
Fire        680
Dark        680
Fairy       680
Ghost       680
Grass       630
Fighting    625
Electric    610
Bug         600
Flying      580
Ice         580
Poison      535
Name: Total, dtype: int64

In [90]:
#What is the percentage of each pokemon type compared to the entire roster
((pokedex.groupby(['Type 1']).nunique()['Name']/pokedex['#'].nunique()) * 100).round(2).sort_values(ascending = False)

Type 1
Water       15.53
Normal      13.59
Grass        9.71
Bug          9.57
Psychic      7.91
Fire         7.21
Rock         6.10
Electric     6.10
Ground       4.44
Dragon       4.44
Ghost        4.44
Dark         4.30
Poison       3.88
Steel        3.74
Fighting     3.74
Ice          3.33
Fairy        2.36
Flying       0.55
Name: Name, dtype: float64

In [53]:
#how many pokemon contain a secondary type
pokedex['Type 2'].count()

414

In [59]:
#What is the percentage of pokemons containing a secondary type out of the entire roster rounded to the second decimal
((pokedex['Type 2'].count()/pokedex['#'].nunique()) * 100).round(2)

57.42