In [2]:
#Data Manipulation
import numpy as np 
import pandas as pd 

#Data Visulation Tools
import seaborn as sns
import matplotlib as plt

#Importing the data into the jupiter notebook and revealing we have 800 rows and 12 columns in this dataset
pokedex = pd.read_csv('pokemon csv.csv')
pokedex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    object
 13  Region      800 non-null    object
dtypes: int64(9), object(5)
memory usage: 87.6+ KB

In [3]:
#THIS SECTION WILL BE TAKING INTO ACCOUNT THE ENTIRE ROSTER
pokedex.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Region
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,NON-LEGENDARY,Kanto
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,NON-LEGENDARY,Kanto
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,NON-LEGENDARY,Kanto
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,NON-LEGENDARY,Kanto
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,NON-LEGENDARY,Kanto

In [4]:
#quick descreptive statistics of the data set
pokedex.describe().round(2)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.00,800.00,800.00,800.00,800.00,800.00,800.00,800.00,800.00
mean,362.81,435.10,69.26,79.00,73.84,72.82,71.90,68.28,3.32
std,208.34,119.96,25.53,32.46,31.18,32.72,27.83,29.06,1.66
min,1.00,180.00,1.00,5.00,5.00,10.00,20.00,5.00,1.00
25%,184.75,330.00,50.00,55.00,50.00,49.75,50.00,45.00,2.00
50%,364.50,450.00,65.00,75.00,70.00,65.00,70.00,65.00,3.00
75%,539.25,515.00,80.00,100.00,90.00,95.00,90.00,90.00,5.00
max,721.00,780.00,255.00,190.00,230.00,194.00,230.00,180.00,6.00

In [5]:
#What are the top 5 strongest pokemons based on largest total
# pokedex.loc[pokedex['Total'].max(),'Type 1']
pokedex.sort_values(['Total'], ascending=False).head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Region
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,LEGENDARY,Hoenn
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,LEGENDARY,Kanto
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,LEGENDARY,Kanto
422,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,LEGENDARY,Hoenn
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,LEGENDARY,Hoenn

In [6]:
#How many pokemon entries do we have in our data set?
total_pokemons = pokedex['#'].nunique()
total_pokemons
#We have a total of 721 different types of unique pokmeon

721

In [7]:
#How many pokemon beleong to each generation
pokemon_generation = pokedex.groupby('Generation').nunique()['#']
pokemon_generation

Generation
1    151
2    100
3    135
4    107
5    156
6     72
Name: #, dtype: int64

In [8]:
#What is the percentage of each generation to the entire rost
pokemon_generation_percentage = ((pokemon_generation/total_pokemons) * 100).round(2)
pokemon_generation_percentage

Generation
1    20.94
2    13.87
3    18.72
4    14.84
5    21.64
6     9.99
Name: #, dtype: float64

In [9]:
#What Region Belongs to what Generation
#just used max to get the actual value of the cell vs a number count
pokemon_region = pokedex.groupby(['Generation'])['Region'].max()
pokemon_region

Generation
1     Kanto
2     Johto
3     Hoenn
4    Sinnoh
5     Unova
6     Kalos
Name: Region, dtype: object

In [10]:
# What is the strongest pokemon for each region
strongest_pokemon_per_region = pokedex.sort_values(by='Total', ascending=False).groupby(['Region']).head(1)
strongest_pokemon_per_region

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Region
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,LEGENDARY,Hoenn
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,LEGENDARY,Kanto
552,493,Arceus,Normal,NaN,720,120,120,120,120,120,120,4,LEGENDARY,Sinnoh
712,646,KyuremWhite Kyurem,Dragon,Ice,700,125,120,90,170,100,95,5,LEGENDARY,Unova
268,248,TyranitarMega Tyranitar,Rock,Dark,700,100,164,150,95,120,71,2,NON-LEGENDARY,Johto
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,LEGENDARY,Kalos

In [11]:
#How many pokemons are considered legendary and Non-Legendary
legendary_vs_nonlegendary = pokedex.groupby(['Legendary'])['#'].nunique().sort_values(ascending = False)
legendary_vs_nonlegendary

Legendary
NON-LEGENDARY    675
LEGENDARY         46
Name: #, dtype: int64

In [12]:
#What is the percentage of legendary and non legendary
legendary_vs_nonlegendary_percentage = ((legendary_vs_nonlegendary/total_pokemons) * 100).round(2).sort_values(ascending = False)
legendary_vs_nonlegendary_percentage

Legendary
NON-LEGENDARY    93.62
LEGENDARY         6.38
Name: #, dtype: float64

In [13]:
#Quick descriptive satistical data for Legendary Pokmemons
legendary_pokemon_statistics = pokedex[pokedex['Legendary'] == 'LEGENDARY'].describe().round(2)
legendary_pokemon_statistics

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,65.00,65.00,65.00,65.00,65.00,65.00,65.00,65.00,65.00
mean,470.22,637.38,92.74,116.68,99.66,122.18,105.94,100.18,3.77
std,173.65,60.94,21.72,30.35,28.26,31.10,28.83,22.95,1.46
min,144.00,580.00,50.00,50.00,20.00,50.00,20.00,50.00,1.00
25%,381.00,580.00,80.00,100.00,90.00,100.00,90.00,90.00,3.00
50%,483.00,600.00,91.00,110.00,100.00,120.00,100.00,100.00,4.00
75%,642.00,680.00,105.00,131.00,115.00,150.00,120.00,110.00,5.00
max,721.00,780.00,150.00,190.00,200.00,194.00,200.00,180.00,6.00

In [14]:
#How many legendary pokemons are in each region
total_legendaries_per_region = pokedex[pokedex['Legendary'] == 'LEGENDARY'].groupby(['Generation','Region'])['#'].nunique()
total_legendaries_per_region

Generation  Region
1           Kanto      4
2           Johto      5
3           Hoenn     10
4           Sinnoh    11
5           Unova     10
6           Kalos      6
Name: #, dtype: int64

In [15]:
#What is the percentage of Legendary pokemon compared to the roster of their respective region
total_legendaries_per_region_perentage = ((total_legendaries_per_region/pokemon_generation)*100).round(2)
total_legendaries_per_region_perentage

Generation  Region
1           Kanto      2.65
2           Johto      5.00
3           Hoenn      7.41
4           Sinnoh    10.28
5           Unova      6.41
6           Kalos      8.33
Name: #, dtype: float64

In [16]:
#What are the strongest legendary pokemon for each region
strongest_legendaries_per_region = pokedex[pokedex['Legendary'] == 'LEGENDARY'].sort_values(by='Total', ascending=False).groupby(['Region']).head(1)
strongest_legendaries_per_region

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Region
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,LEGENDARY,Kanto
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,LEGENDARY,Hoenn
552,493,Arceus,Normal,NaN,720,120,120,120,120,120,120,4,LEGENDARY,Sinnoh
711,646,KyuremBlack Kyurem,Dragon,Ice,700,125,170,100,120,90,95,5,LEGENDARY,Unova
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,LEGENDARY,Kalos
270,250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,LEGENDARY,Johto

In [17]:
#How many non legendary pokemon are in each region
total_nonlegendaries_per_region = pokedex[pokedex['Legendary'] =='NON-LEGENDARY'].groupby(['Generation','Region'])['#'].nunique()
total_nonlegendaries_per_region

Generation  Region
1           Kanto     147
2           Johto      95
3           Hoenn     125
4           Sinnoh     96
5           Unova     146
6           Kalos      66
Name: #, dtype: int64

In [18]:
#What is the percentage of non legeneary pokemons compared to the roster for their respective region
total_nonlegendaries_per_region_percentage = ((total_nonlegendaries_per_region/pokemon_generation)*100).round(2)
total_nonlegendaries_per_region_percentage

Generation  Region
1           Kanto     97.35
2           Johto     95.00
3           Hoenn     92.59
4           Sinnoh    89.72
5           Unova     93.59
6           Kalos     91.67
Name: #, dtype: float64

In [19]:
#Quick descriptive satistical data for Non-Legendary Pokmemons
nonlegendaries_pokemon_statistics = pokedex[pokedex['Legendary'] == 'NON-LEGENDARY'].describe().round(2)
nonlegendaries_pokemon_statistics

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,735.00,735.00,735.00,735.00,735.00,735.00,735.00,735.00,735.00
mean,353.32,417.21,67.18,75.67,71.56,68.45,68.89,65.46,3.28
std,208.59,106.76,24.81,30.49,30.41,29.09,25.67,27.84,1.67
min,1.00,180.00,1.00,5.00,5.00,10.00,20.00,5.00,1.00
25%,175.50,324.00,50.00,54.50,50.00,45.00,50.00,45.00,2.00
50%,346.00,425.00,65.00,72.00,66.00,65.00,65.00,64.00,3.00
75%,533.50,498.00,79.50,95.00,85.00,85.00,85.00,85.00,5.00
max,715.00,700.00,255.00,185.00,230.00,175.00,230.00,160.00,6.00

In [69]:
#What are the strongest non legendary pokemon for each generation
pokedex[(pokedex['Legendary'] == 'NON-LEGENDARY')].sort_values(by='Total', ascending=False).groupby(['Generation']).head(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Region
413,376,MetagrossMega Metagross,Steel,Psychic,700,80,145,150,105,110,110,3,NON-LEGENDARY,Hoenn
494,445,GarchompMega Garchomp,Dragon,Ground,700,108,170,115,120,95,92,4,NON-LEGENDARY,Sinnoh
268,248,TyranitarMega Tyranitar,Rock,Dark,700,100,164,150,95,120,71,2,NON-LEGENDARY,Johto
141,130,GyaradosMega Gyarados,Water,Dark,640,95,155,109,70,130,81,1,NON-LEGENDARY,Kanto
716,648,MeloettaPirouette Forme,Normal,Fighting,600,100,128,90,77,77,128,5,NON-LEGENDARY,Unova
776,706,Goodra,Dragon,NaN,600,90,100,70,110,150,80,6,NON-LEGENDARY,Kalos

In [21]:
#How many 'types' of pokemon are there
total_pokemon_types = pokedex['Type 1'].nunique()
total_pokemon_types

18

In [22]:
#how many pokemons belong to each category
total_pokemon_per_type = pokedex.groupby(['Type 1']).nunique()['#']
total_pokemon_per_type.sort_values(ascending=False)

Type 1
Water       105
Normal       93
Grass        66
Bug          63
Psychic      47
Fire         47
Rock         41
Electric     36
Ground       30
Poison       28
Dark         28
Fighting     25
Dragon       24
Ice          23
Ghost        23
Steel        22
Fairy        17
Flying        3
Name: #, dtype: int64

In [23]:
#What is the percentage of each pokemon type compared to the entire roster
total_pokemon_per_type_percentage = ((total_pokemon_per_type/total_pokemons) * 100).round(2).sort_values(ascending = False)
total_pokemon_per_type_percentage

Type 1
Water       14.56
Normal      12.90
Grass        9.15
Bug          8.74
Psychic      6.52
Fire         6.52
Rock         5.69
Electric     4.99
Ground       4.16
Poison       3.88
Dark         3.88
Fighting     3.47
Dragon       3.33
Ice          3.19
Ghost        3.19
Steel        3.05
Fairy        2.36
Flying       0.42
Name: #, dtype: float64

In [24]:
#What is the strongest total for each type of pokemon sorted from strongest to weakest
strongest_total_per_type = pokedex.groupby(['Type 1'])['Total'].max()
strongest_total_per_type.sort_values(ascending = False)

Type 1
Psychic     780
Dragon      780
Water       770
Ground      770
Normal      720
Rock        700
Steel       700
Fire        680
Dark        680
Fairy       680
Ghost       680
Grass       630
Fighting    625
Electric    610
Bug         600
Flying      580
Ice         580
Poison      535
Name: Total, dtype: int64

In [25]:
#What is the most common type for legendary pokemons
most_common_type_for_lengendaries = pokedex[pokedex['Legendary'] == 'LEGENDARY'].groupby(['Type 1']).nunique()['#']
most_common_type_for_lengendaries.sort_values(ascending = False)

Type 1
Psychic     8
Dragon      7
Fire        5
Steel       4
Water       3
Rock        3
Electric    3
Normal      2
Ice         2
Ground      2
Grass       2
Dark        2
Ghost       1
Flying      1
Fairy       1
Name: #, dtype: int64

In [26]:
#What is the most common type for Non-legendary pokemons
most_common_type_for_nonlegendaries = pokedex[pokedex['Legendary'] == 'NON-LEGENDARY'].groupby(['Type 1']).nunique()['#']
most_common_type_for_nonlegendaries.sort_values(ascending = False)

Type 1
Water       102
Normal       91
Grass        64
Bug          63
Fire         42
Psychic      39
Rock         38
Electric     33
Poison       28
Ground       28
Dark         26
Fighting     25
Ghost        22
Ice          21
Steel        18
Dragon       17
Fairy        16
Flying        2
Name: #, dtype: int64

In [27]:
#how many pokemons contain a secondary type
#for secondary type we need to use pokedex vs total_pokemon, because different forms of pokemon can have a different secondary type
total_pokemon_with_secondary_type = pokedex[pokedex['Type 2'].isna() == False]['#'].count()
total_pokemon_with_secondary_type

414

In [28]:
#What is the percentage of pokemons containing a secondary type out of the entire roster rounded to the second decimal
total_pokemon_with_secondary_type_percentage = ((total_pokemon_with_secondary_type/pokedex['#'].count()) *100).round(2)
total_pokemon_with_secondary_type_percentage

51.75

In [29]:
#What is the most common to least common second type attribute?
most_common_secondary_type = pokedex.groupby(['Type 2']).count()['#'].sort_values(ascending = False)
most_common_secondary_type

Type 2
Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ghost       14
Ice         14
Rock        14
Fire        12
Electric     6
Normal       4
Bug          3
Name: #, dtype: int64

In [30]:
#How Many pokemons do not have a Secondary typing?
total_pokemon_without_secondary_type = pokedex[pokedex['Type 2'].isna() == True]['#'].count()
total_pokemon_without_secondary_type

386

In [37]:
#What is the percentage of pokemon not having a secondary type
total_pokemon_without_secondary_type_percentage = ((total_pokemon_without_secondary_type/pokedex['#'].count()) *100).round(2)
total_pokemon_without_secondary_type_percentage

48.25

In [43]:
#How many legendaries have a secondary type?
total_legendaries_with_secondary_type = pokedex[(pokedex['Type 2'].isna() == False) & (pokedex['Legendary'] == 'LEGENDARY')]['#'].count()
total_legendaries_with_secondary_type

40

In [52]:
#What is the percentage of legendaries having a secondary type?
total_legendaries_with_secondary_type_percentage = ((total_legendaries_with_secondary_type/pokedex[pokedex['Legendary'] == 'LEGENDARY']['#'].count()) * 100).round(2)
total_legendaries_with_secondary_type_percentage

61.54

In [49]:
#How many legendaries do not have a secondary type?
total_legendaries_without_secondary_type = pokedex[(pokedex['Type 2'].isna() == True) & (pokedex['Legendary'] == 'LEGENDARY')]['#'].count()
total_legendaries_without_secondary_type

25

In [53]:
#What is the percentage of legendaries not containing a secondary type?
total_legendaries_without_secondary_type_percentage = ((total_legendaries_without_secondary_type/pokedex[pokedex['Legendary'] == 'LEGENDARY']['#'].count()) * 100).round(2)
total_legendaries_without_secondary_type_percentage

38.46

In [58]:
#What is the highest total for each stat category
pokedex_top_stats = pokedex.drop(columns=['#','Name','Type 1','Type 2','Generation','Legendary','Region','Total']).max()
pokedex_top_stats

HP         255
Attack     190
Defense    230
Sp. Atk    194
Sp. Def    230
Speed      180
dtype: int64

In [76]:
#What are the top pokemons for each stat category in each generation
#HP
top_HP_pokemon_per_generation = pokedex.sort_values(by='HP', ascending=False).groupby(['Generation'])['Name','HP','Generation'].head(1).sort_values(by='Generation')
top_HP_pokemon_per_generation

          Name   HP  Generation
121    Chansey  250           1
261    Blissey  255           2
351    Wailord  170           3
473   Drifblim  150           4
655  Alomomola  165           5
792    Xerneas  126           6

In [77]:
#ATTACK
top_Attack_pokemon_per_generation = pokedex.sort_values(by='Attack', ascending=False).groupby(['Generation'])['Name','Attack','Generation'].head(1).sort_values(by='Generation')
top_Attack_pokemon_per_generation

                        Name  Attack  Generation
163      MewtwoMega Mewtwo X     190           1
232  HeracrossMega Heracross     185           2
424    GroudonPrimal Groudon     180           3
494    GarchompMega Garchomp     170           4
711       KyuremBlack Kyurem     170           5
796      DiancieMega Diancie     160           6

In [78]:
#DEFENSE
top_Defense_pokemon_per_generation = pokedex.sort_values(by='Defense', ascending=False).groupby(['Generation'])['Name','Defense','Generation'].head(1).sort_values(by='Generation')
top_Defense_pokemon_per_generation

                  Name  Defense  Generation
98            Cloyster      180           1
230            Shuckle      230           2
333  AggronMega Aggron      230           3
456          Bastiodon      168           4
624         Cofagrigus      145           5
789            Avalugg      184           6

In [82]:
#Sp. Atk
top_Sp_Atk_pokemon_per_generation = pokedex.sort_values(by='Sp. Atk', ascending=False).groupby(['Generation'])['Name','Sp. Atk','Generation'].head(1).sort_values(by='Generation')
top_Sp_Atk_pokemon_per_generation

                      Name  Sp. Atk  Generation
164    MewtwoMega Mewtwo Y      194           1
196  AmpharosMega Ampharos      165           2
422    KyogrePrimal Kyogre      180           3
540                 Dialga      150           4
712     KyuremWhite Kyurem      170           5
798     HoopaHoopa Unbound      170           6

In [83]:
#SP.DEF
top_Sp_Def_pokemon_per_generation = pokedex.sort_values(by='Sp. Def', ascending=False).groupby(['Generation'])['Name','Sp. Def','Generation'].head(1).sort_values(by='Generation')
top_Sp_Def_pokemon_per_generation

                      Name  Sp. Def  Generation
141  GyaradosMega Gyarados      130           1
230                Shuckle      230           2
415                 Regice      200           3
528              Probopass      150           4
676              Cryogonal      135           5
739                Florges      154           6

In [84]:
#SPEED
top_Speed_pokemon_per_generation = pokedex.sort_values(by='Speed', ascending=False).groupby(['Generation'])['Name','Speed','Generation'].head(1).sort_values(by='Generation')
top_Speed_pokemon_per_generation

                          Name  Speed  Generation
154  AerodactylMega Aerodactyl    150           1
183                     Crobat    130           2
431          DeoxysSpeed Forme    180           3
476        LopunnyMega Lopunny    135           4
678                   Accelgor    145           5
731                 Talonflame    126           6