In [21]:
#Data Manipulation
import numpy as np 
import pandas as pd 

#Data Visulation Tools
import seaborn as sns
import matplotlib as plt

#Importing the data into the jupiter notebook and revealing we have 800 rows and 12 columns in this dataset
pokedex = pd.read_csv('pokemon csv.csv')
pokedex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    object
 13  Region      800 non-null    object
dtypes: int64(9), object(5)
memory usage: 87.6+ KB

In [3]:
#THIS SECTION WILL BE TAKING INTO ACCOUNT THE ENTIRE ROSTER
pokedex.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Region
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Kanto
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Kanto
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Kanto
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Kanto
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,Kanto

In [4]:
#What are the top 5 strongest pokemons based on largest total
# pokedex.loc[pokedex['Total'].max(),'Type 1']
pokedex.sort_values(['Total'], ascending=False).head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Region
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True,Hoenn
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True,Kanto
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,Kanto
422,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True,Hoenn
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True,Hoenn

In [5]:
#How many pokemon entries do we have in our data set?
pokedex['#'].nunique()
#We have a total of 721 different types of unique pokmeon

721

In [13]:
#How many pokemon beleong to each generation
pokedex.groupby('Generation').nunique()['#']

Generation
1    151
2    100
3    135
4    107
5    156
6     72
Name: #, dtype: int64

In [6]:
#What is the percentage of each generation to the entire rost
((pokedex.groupby('Generation').nunique()['#']/pokedex['#'].nunique()) * 100).round(2)

Generation
1    20.94
2    13.87
3    18.72
4    14.84
5    21.64
6     9.99
Name: #, dtype: float64

In [16]:
#What Region Belongs to what Region
#just used max to get the actual value of the cell vs a number count
pokedex.groupby(['Generation'])['Region'].max()

Generation
1     Kanto
2     Johto
3     Hoenn
4    Sinnoh
5     Unova
6     Kalos
Name: Region, dtype: object

In [24]:
#How many pokemons are considered legendary and Non-Legendary
pokedex.groupby(['Legendary'])['#'].nunique().sort_values(ascending = False)

Legendary
NON-LEGENDARY    675
LEGENDARY         46
Name: #, dtype: int64

In [25]:
#What is the percentage of legendary and non legendary
((pokedex.groupby(['Legendary'])['#'].nunique()/pokedex['#'].nunique()) * 100).round(2).sort_values(ascending = False)

Legendary
NON-LEGENDARY    93.62
LEGENDARY         6.38
Name: #, dtype: float64

In [7]:
#How many 'types' of pokemon are there
pokedex['Type 1'].nunique()

18

In [8]:
#how many pokemons belong to each category
pokedex.groupby(['Type 1']).nunique()['#'].sort_values(ascending = False)

Type 1
Water       105
Normal       93
Grass        66
Bug          63
Psychic      47
Fire         47
Rock         41
Electric     36
Ground       30
Poison       28
Dark         28
Fighting     25
Dragon       24
Ice          23
Ghost        23
Steel        22
Fairy        17
Flying        3
Name: #, dtype: int64

In [9]:
#What is the percentage of each pokemon type compared to the entire roster
((pokedex.groupby(['Type 1']).nunique()['#']/pokedex['#'].nunique()) * 100).round(2).sort_values(ascending = False)

Type 1
Water       14.56
Normal      12.90
Grass        9.15
Bug          8.74
Psychic      6.52
Fire         6.52
Rock         5.69
Electric     4.99
Ground       4.16
Poison       3.88
Dark         3.88
Fighting     3.47
Dragon       3.33
Ice          3.19
Ghost        3.19
Steel        3.05
Fairy        2.36
Flying       0.42
Name: #, dtype: float64

In [10]:
#What is the strongest total for each type of pokemon sorted from strongest to weakest
pokedex.groupby(['Type 1'])['Total'].max().sort_values(ascending = False)

Type 1
Psychic     780
Dragon      780
Water       770
Ground      770
Normal      720
Rock        700
Steel       700
Fire        680
Dark        680
Fairy       680
Ghost       680
Grass       630
Fighting    625
Electric    610
Bug         600
Flying      580
Ice         580
Poison      535
Name: Total, dtype: int64

In [11]:
#how many pokemon contain a secondary type
pokedex['Type 2'].count()

414

In [12]:
#What is the percentage of pokemons containing a secondary type out of the entire roster rounded to the second decimal
((pokedex['Type 2'].count()/pokedex['#'].nunique()) * 100).round(2)

57.42

In [13]:
#What is the most common to least common second type attribute?
pokedex.groupby(['Type 2']).count()['#'].sort_values(ascending = False)

Type 2
Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ghost       14
Ice         14
Rock        14
Fire        12
Electric     6
Normal       4
Bug          3
Name: #, dtype: int64